#modax{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0,0.5);
    text-align: center;
    padding-top: 300px;
}

.modax-body{
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    display: inline-block;
}

.modax-load{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border:solid 5px black;
    border-top: solid 5px red;
    animation: loading linear 1s infinite;
}

@keyframes loading {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

